.App {
    text-align: center;
}

.App textarea {
    width: 270px;
    margin: auto;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 6px;
}

.AppHeader {
    background-color: #282c34;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.AppLink {
    color: #61dafb;
}
