.Logo {
    animation: Logo-spin infinite 20s linear;
    height: 40vmin;
}

.Logo img {
    height: 100%;
}


@keyframes Logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
