// @import './node_modules/minireset.css/minireset.css';

body {
  font-family: 'Helvetica Neue', sans-serif;
  padding: 40px 50px;
}

* {
  box-sizing: border-box;
}

h2 {
  display: block;
  margin: 0 0 8px;
  font-size: 20px;
}

.header {
  margin-bottom: 30px;
}

.subheading {
  display: block;
  margin: 0 0 10px;
  font-size: 12px;
  font-weight: normal;
  color: #aaa;
}

.container {
  margin: 0 auto;
  max-width: 350px;
}

.form-element {
  margin-bottom: 20px;

  label {
    display: block;
    margin-bottom: 5px;
    font-size: 10px;
    color: #aaa;
    text-transform: uppercase;
  }
}

.input {
  display: block;
  width: 100%;
  min-width: 180px;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 0;
  font-size: 14px;
  font-weight: 300;
  color: #252525;
  outline: none;

  &:focus {
    border-color: #999;
  }

  &:disabled {
    background-color: #eee;
    color: #999;
  }
}

.button {
  display: block;
  width: 100%;
  min-width: 180px;
  padding: 10px 20px;
  font-size: 12px;
  font-weight: 300;
  border: none;
  background-color: rgb(14, 196, 150);
  color: white;
  text-transform: uppercase;
  outline: none;
  
  &:hover {
    background-color: rgb(3, 231, 174);
    cursor: pointer;
  }
}
